button {
  cursor: pointer;
  padding: 20px;
  border-width: 0;
  width: 100%;
  max-width: 250px;
  max-height: 136px;
  background: linear-gradient(130deg, rgba(145, 230, 252, 0.2), rgba(145, 230, 252, 0.1));
  backdrop-filter: blur(16px);
  border-radius: 32px;
  z-index: 2;
  font-size: 24px;
  transition: all .2s ease-in-out;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.big {
    padding-top: 39px;
    padding-bottom: 39px;
  }
}

button:active {
  color: rgba(#000, .5);
}

button:hover {
  transform:scale(2);
}

button:focus, :host:focus {
  outline: none;
}