<div [class]="'router-wrapper ' + getRouteClass()">
  <div class='container'>
    <ng-container *ngIf="!isMobile;else mobileMenu">
      <div class="row justify-content-between">
        <app-menu></app-menu>
        <app-page class="route-container col-9" [@routeAnimation]="getId(myOutlet)">
          <router-outlet #myOutlet="outlet"></router-outlet>
        </app-page>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #mobileMenu>
  <div class="row">
    <app-page>
      <router-outlet></router-outlet>
    </app-page>
  </div>
  <div class="row">
    <app-menu [isMobile]="true"></app-menu>
  </div>
</ng-template>