:host {
  position: relative;
  top: 32px;
  right: 24px;
  z-index: 999;
}

.btn {
  cursor: pointer;
  padding: 4px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 46px;
  background: rgba(116, 171, 241, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(16px);
  height: 100%;
  transition: max-height 0.4s ease-in-out;
  max-height: 46px;
  user-select: none;

  &_active {
    max-height: 92px;
  }

  span {
    width: 100%;
    text-align: center;
    padding: 12px 0 12px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }
    &:active {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
