* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 460px;
}

h1,
h2,
h3 {
  font-family: "Vollkorn", serif;
  font-weight: 800;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 72px;
}
h3 {
  font-size: 48px;
}
