<div class="container">
  <div class="row">
    <app-button class='col-6 col-md-12' [text]="'Кто я? 🗿'" [isBig]="true" [routerLink]="'home'"></app-button>
    <app-button class='col-6 col-md-12' [text]="'Во что умею?'" [isBig]="true" [routerLink]="'skills'"></app-button>
    <app-button class='col-6 col-md-12' [text]="'Какой опыт?'" [isBig]="true" [routerLink]="'works'"></app-button>
    <app-button class='col-6 col-md-12' [text]="'Контакты.'" [isBig]="true" [routerLink]="'links'"></app-button>
  </div>
</div>